<%- include("partials/head"); %>

    <%- include("partials/navbar"); %>

        <h1>The Homepage <%= 4 + 5 + 1 %>
        </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, soluta ab. Sapiente aut aliquam est
            perferendis
            illo sint reprehenderit doloribus fugit ut exercitationem, porro facere architecto reiciendis itaque
            commodi
            molestias. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores repellat exercitationem
            voluptate,
            magnam iste ex ipsum provident distinctio odit. Doloribus, repudiandae sequi ullam quo sapiente eligendi
            cumque
            iste quasi voluptas.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima consequuntur magni exercitationem
            laudantium
            illo non aliquam eaque modi, praesentium rerum tenetur iste dolorem! Asperiores voluptate fugiat
            expedita
            veritatis iure! Magnam.</p>

        <%- include("partials/footer"); %>